.top {
    display: grid;
    grid-template-columns: 1fr 100rem 1fr;
}
.top .items {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.n-top {
    box-shadow: 0 1px 5px black;
    padding: 0 1rem;
}
.logo {
    width: 10rem;
    height: auto;
}

@keyframes bhead {
    0% {
        transform: translateY(-300%);
    }
    100% {
        transform: none;
    }
}
@keyframes search {
    0% {
        transform: translateX(30%);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

h1 {
    animation: bhead 1s ease-in;
    margin-top: 10rem;
    text-shadow: .5rem .8rem 1px rgba(3, 3, 3, 0.103);
    font-size: 10rem;
    font-family: monospace;
    background-image: linear-gradient(to right, rgb(48, 245, 48) 45%, rgb(255, 166, 0)50%);
    background-clip: text;
    text-align: center;
    color: transparent;
}
h1 span {
    font-size: 3rem;
    font-family: sans-serif;
    text-shadow: .4rem .4rem 4px rgba(0, 0, 0, 0.308);
}

.search { 
    animation: search .5s .8s ease-out;
    animation-fill-mode: backwards;
    text-align: center;
    padding: 2rem;
    margin-top: 5rem;
    transition: all .3s;
}
.search input {
    width: 40rem;
    height: 4rem;
    border-radius: 10rem;
    padding: .7rem 3rem;
    font-size: 2.5rem;
    outline: none;
    margin: auto;
    border: 1px solid greenyellow;
    transition: all .3s;
    transform: translateX(20%);
}
.search input::placeholder {
    font-weight: 100;
    font-size: 2rem;
    color: rgb(235, 232, 232);
    font-style: italic;
}
.search input:focus {
    width: 45rem;
}
.search button {
    font-size: 2rem;
    box-shadow: 1px 1px 5px black;
    border: none;
    position: relative;
    z-index: 100;
    color: white;
    background-color: rgb(13, 182, 13);
    border-radius: 10rem;
    padding: 1.4rem 1.5rem;
    transform: translateY(-5%);
    transition: all .5s;
}
.search button:hover {
    box-shadow: 3px 2px 1rem black;
}

button {
    outline: none;
    cursor: pointer;
}

.to-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-60%, -40%);
}
.to-top input {
    height: 2.5rem;
    font-size: 1.5rem;
    width: 35rem;
}
.to-top input:focus {
    width: 40rem;
}
.to-top button {
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
}

.pass {
    z-index: -1;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%,-50%);
    box-shadow: 1px 2px 5px black;
    padding: 2rem 4rem;
    font-size: 1.8rem;
    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 1s;
}
.slide-in {
    opacity: 1;
    z-index: 1000;
    transform: translate(-50%,-50%);
}
.password {
    padding: .5rem 1rem;
    outline: none;
    width: 20rem;
    height: 3rem;
    font-size: 2.2rem;
    margin-top: 1rem;
}
.password::placeholder {
    font-style: italic;
    font-size: 1.3rem;
}

@media only screen and (max-width: 990px) {
    .top {
        display: block;
    }
    h1 {
        font-size: 4rem;
      }
    .search input {
        transform: translateX(10%);
        max-width: 20rem;
        height: 3rem;
        padding: .5rem 1rem;
        font-size: 1.2rem;
    }
    .search input::placeholder {
        font-size: 1.1rem;
    }
    .search {
        padding: 2rem 0;
    }
    .search button {
        font-size: 1.5rem;
        padding: 1rem 1rem;
        transform: translateX(-20%);
    }
    .pass {
        transform: translate(-50%,-50%);
    }
  }
  @media only screen and (max-width: 650px) {
      .search {
        display: flex;
      }
    i span {
        display: none;
    }
    .logo {
        width: 4rem;
        height: auto;
    }
  }
  @media only screen and (max-width: 400px) {
    .to-top {
        top: -2rem;
    }
    .logo {
        margin-right: 1rem;
    }
    .top .items {
        box-shadow: none;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .search input {
        transform: translateX(10%);
        height: 3rem;
        padding: .5rem 1rem;
        font-size: 1.2rem;
    }
    .search input::placeholder {
        font-size: 1rem;
    }
    .search button {
        font-size: 1.5rem;
        padding: 1rem 1rem;
        transform: translateX(-50%);
    }
    
  }
  @media only screen and (max-width: 270px) {
    .logo {
        width: 5rem;
        height: auto;
    }
    .search input {
        width: 15rem;
    }
  }