.admin .table {
    display: flex;
}
.admin .month, .status {
    display: flex;
    flex-direction: column;
}
.status .m {
    height: 4rem;
    margin-bottom: .2rem;
    margin-left: 2rem;
    outline: none;
    transition: all .5s;
}
.status .m:focus {
    transform: translateX(50%);
}