:root {
  --color-primary: rgb(241, 239, 239);
  --color-secondary: rgb(12, 12, 12);
  --text-color: rgb(87, 85, 85);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.25%;
  color: var(--text-color);
  font-family: sans-serif;
}

.App {
  margin: auto;
}

.loader {
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.loader img {
  width: 10rem;
}
.come {
  opacity: 1;
  z-index: 1000;
}

.alert {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(-150%);
  border-radius: 1rem;
  background-color: rgba(218, 248, 217, 0.986);
  color: rgb(53, 247, 4);
  font-size: 2.5rem;
  padding: 1rem 5rem;
  transition: all .5s;
}
.alert-up {
  transform: translateX(-50%);
}


@media only screen and (max-width: 1000px) {
  body {
    overflow: hidden;
  }
  .App {
    width: 100%;
  }
  .logo {
    margin-left: 2rem;
  }
}
